<ion-header>
  <ion-toolbar>
    <ion-title>
      Personal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4>User Name: Kelly Ann Conway</h4>
  <h4>Email: kac746@gmail.com</h4>
  <h4>Payment Method: XXXXXXXXXXXX3645</h4>
  <h4>My Countries: United States, Zimbabwe</h4>
  <br>
  <h2>WARNING Global Coronavirus Pandemic</h2>
  <h4>Confirmed COVID-19 cases near you.  See map for details.</h4>
  <div id="viewDiv"></div>
  
</ion-content>

<ion-footer (click)="logout()">
  <ion-toolbar color="medium">
    <ion-title>Log out</ion-title>
  </ion-toolbar>
</ion-footer>
