<ion-header>
    <ion-toolbar color="primary">
      <ion-title>Terms and Conditions</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content> 
    
      
        <ion-list-header>
          1. General
        </ion-list-header>
        <ion-item class="item-text-wrap" text-wrap>
          This agreement (“Agreement”) governs your use of the website and mobile applications operated by 
          Disease Adviser PTY LTD (DA), and the related services (collectively, the “Service”). This agreement, together 
          with any such additional terms and conditions, are referred to as this “Agreement.” Your registration, subscription
          or use of this Site or mobile application indicates your acceptance of these terms. DA reserves the right, in its 
          discretion, to change or modify all or any part of this Agreement at any time, effective immediately. Your continued 
          use of the Service constitutes your binding acceptance of these terms and conditions, including any changes or 
          modifications made by DA as permitted above. Please be sure to review this Agreement periodically to ensure 
          familiarity with the most current version. If at any time the terms and conditions of this Agreement are no 
          longer acceptable to you, you should immediately cease all use of the Service.
          
        </ion-item>
      
        <ion-list-header>
          2. Rules of Conduct
        </ion-list-header>
        <ion-item class="item-text-wrap" text-wrap> If you have purchased a service, the log in credentials are personal to the individual named on the 
          account and cannot be shared with or used by any other individual, or entity. The sharing of passwords, login 
          information, or user identification is forbidden unless a multiple user agreement has been executed with DA. 
          We reserve the right to monitor Customer’s use of the Service to ensure compliance with this Agreement and 
          prevent fraudulent use. Such monitoring of use may include but will not be limited to determining whether or 
          not the Service is accessed under the account from multiple source or IP Addresses.
        </ion-item>
    
        <ion-list-header>
          3. Termination of Service
        </ion-list-header>
        <ion-item class="item-text-wrap" text-wrap>
          DA reserves the right, in its sole discretion, to restrict, suspend or terminate your access to all or any part
          of the Service at any time for any reason without prior notice or liability. Conversely, you may terminate your
          membership of the Service at any time, for any reason, by emailing DA at custserv@diseaseadviser.com. Once your
          membership terminates, you will have no right to use the Service. The terms of this Agreement shall survive 
          any termination of your membership. DA may change, suspend or discontinue all or any aspect of the Service at
          any time, including the availability of any feature, database, or Content without prior notice or liability.
        </ion-item>
    
        <ion-list-header>
          4. Disclaimer of Warranties
        </ion-list-header>
        <ion-item class="item-text-wrap" text-wrap>Neither DA nor any provider of third party content or their respective agents warrants that the 
          content or the service will be uninterrupted or error free; nor does DA, any third party content provider, 
          or their respective agents make any warranty as to the results to be obtained from use of the service or the 
          content. The service and the content are distributed on an “as is, as available” basis. None of DA, third 
          party content providers or their respective agents makes any warranties of any kind, either express or implied, 
          including, without limitation, warranties of title or implied warranties of merchantability or fitness for a 
          particular purpose, with respect to the service, any content or any products or services sold through the service. 
          <br>You expressly agree that the entire risk as to the quality and performance of the Service and the accuracy or 
          completeness of the Content is assumed solely by you. 
        </ion-item>
    
        <ion-list-header>
          5. Limitation of Liability
        </ion-list-header> 
        <ion-item class="item-text-wrap" text-wrap>
          Neither DA, any third party content provider nor their respective agents shall be liable for any direct, indirect,
          incidental, special or consequential damages arising out of the use of or inability to use the service, even if 
          such party has been advised of the possibility of such damages. Your sole remedy for dissatisfaction with the 
          site or mobile application, site or mobile application-related services, and/or hyperlinked web site or mobile 
          applications is to stop using the site or mobile application and/or those services.
        </ion-item>
    
        <ion-list-header>
          6. Special Admonitions for International Use
        </ion-list-header>
        <ion-item class="item-text-wrap" text-wrap>
          As a consequence of the global nature of the Internet, you agree to comply with all local rules regarding user 
          conduct on the Internet and acceptable content. Specifically, you agree to comply with all applicable laws 
          regarding the transmission of technical data exported from the United States or the country in which you reside.
        </ion-item>
    
        <ion-list-header>
          7. Links
        </ion-list-header>
        <ion-item class="item-text-wrap" text-wrap>
          Some of the pages on the Site or mobile application include links to external website or mobile applications. 
          These links are included to give users the opportunity to access other pages that it is felt may be of assistance 
          to them. Except for DA owned links, DA is not responsible for the content of these internet Site or mobile applications.
        </ion-item>
    
        <ion-list-header>
          8. Collection of information
        </ion-list-header>
        <ion-item class="item-text-wrap" text-wrap> 
            8.1 Information You Provide to Us
            <br>We collect information you provide directly to us via the Service. 
            For example, we collect information when you create an account, create 
            or update your profile, communicate with us via third party social media 
            sites, request customer support or otherwise communicate with us. The types 
            of information we may collect include your name, email address, phone number, 
            gender, zip code, birth month, birth year and any other information you choose 
            to provide. DA reserves the right to use this information internally, but will not 
            sell, share, rent, or otherwise reveal this information to any third party, except 
            as required by law. DA may share aggregate data at the zip code level with third 
            parties including public health agencies. Submissions will be anonymized and posted 
            in aggregate with other submissions at the zip code level within the DA interface. 
            IP addresses will be recorded but will remain confidential.
        </ion-item>
        <ion-item class="item-text-wrap" text-wrap>8.2 Information We Collect Automatically
          <br>When you access or use our Services, we automatically collect information about you 
          and we may associate it with information that you provide directly to us. For example, 
          we may collect:
          <br>Log Information: We collect log files in connection with your use of our Services, 
          including the type of browser you use, access times, pages viewed, your IP address, 
          the page you visited before navigating to our website, and your interactions with our 
          Services. All data exchanged with the site will be protected by SSL encryption, the same 
          standard used to protect the transmission of credit card information and other sensitive 
          data over the internet.
          <br>Mobile Device Information: We may collect information about the mobile device you 
          use to access our Services, including the hardware model, operating system and version, 
          device identifiers, mobile network information, geolocation and information about your use 
          of our Services.
          <br>Information Collected by Cookies and Other Tracking Technologies: We and our service 
          providers use various technologies to collect information, including cookies and web 
          beacons. Cookies are small data files stored on your hard drive or in device memory that 
          help us improve our website and your experience, see which areas and features of our 
          website are popular and count visits. Web beacons are electronic images that may be used 
          on our website or in our emails and help deliver cookies, count visits and understand usage 
          and campaign effectiveness. For more information about cookies, and how to disable them, 
          please see your phone / app setting options.
        </ion-item>
        <ion-item class="item-text-wrap" text-wrap>8.3 Information We Collect From Other Sources
          <br>We may also receive information about you from other sources and link or combine that 
          with information we collect about your de-identified information provided.
        </ion-item>
    
        <ion-list-header>
            9. Use of Information
        </ion-list-header>
      <ion-item class="item-text-wrap" text-wrap>
      We may use de-identified information about you for various purposes, including to:
        <br>•	Provide, maintain and improve our Services;
        <br>•	Provide and deliver the services you request and send you related information
        <br>•	Send you technical notices, updates, security alerts and support and administrative messages;
        <br>•	Respond to your comments, questions and requests and provide customer service;
        <br>•	Communicate with you about news and information we think will be of interest to you;
        <br>•	Monitor and analyze trends, usage and activities in connection with our Service;
        <br>•	Link or combine with information we get from others to help understand your needs and provide you with better service; and
        <br>•	Carry out any other purpose for which the information was collected.
        <br>DA is based in the Australia. By accessing or using our services or otherwise providing information to us, you consent to the processing and transfer of information in and to the Australia and other countries, where you may not have the same rights as you do under local law. Where this is the case, we will take appropriate measures to protect information about you in accordance with this Privacy Policy.
    </ion-item>
    
    <ion-list-header>
      10. Sharing of Information
    </ion-list-header>
    <ion-item class="item-text-wrap" text-wrap>
    We may share de-identified information about you as follows or as otherwise described in this Privacy Policy:
    •	With third party vendors, consultants and other service providers who need access to such information to carry out work on our behalf;
    •	In response to a request for information if we believe disclosure is in accordance with, or required by, any applicable law, regulation or legal process;
    •	If we believe your actions are inconsistent with our user agreements or policies, or to protect the rights, property and safety of Disease Adviser or others; and
    •	With your consent or at your direction.
    We may also share aggregated or de-identified information, which cannot reasonably be used to identify you.
    </ion-item>
    
    <ion-list-header>
      11. Cookies
    </ion-list-header>
    <ion-item class="item-text-wrap" text-wrap>
      Most web browsers are set to accept cookies by default. If you prefer, you can usually choose to set your browser to remove or reject browser cookies. Please note that if you choose to remove or reject cookies, this could affect the availability and functionality of our Services.
    </ion-item>
    
      <ion-list-header>
        12. Mobile Push Notifications/Alerts
      </ion-list-header>
      <ion-item class="item-text-wrap" text-wrap>
        With your consent, we may send push notifications or alerts to your mobile device. You can elect to stop 
        receiving these messages at any time by changing the notification settings on your mobile device.
      </ion-item>
    
      <ion-list-header>
        13. Disclaimer
      </ion-list-header>
      <ion-item class="item-text-wrap" text-wrap>
         The information provided through this service is intended as a guide only. For questions about medical 
         conditions and treatments, consumers should always consult a physician or seek emergency medical care, if necessary.
      </ion-item>
    
      <ion-list-header>
        14. Miscellaneous; Jurisdiction of Disputes
      </ion-list-header>
      <ion-item class="item-text-wrap" text-wrap>
        This Agreement shall be construed in accordance with the laws of the State of Queensland, without reference to 
        principles of choice of law. You and DA each irrevocably consent to the personal jurisdiction of the federal or 
        state courts located in Queensland, Australia (the “Courts”) with respect to any action, suit or proceeding arising 
        out of or related to this Agreement or to the Service (including without limitation any Content) and waive any 
        objection to venue in any of the Courts for such an action, suit or proceeding (whether based on forum non 
        conveniens or otherwise); additionally, you agree that you will not bring any such action, suit or proceeding in any 
        court other than the Courts. This Agreement constitutes the entire agreement between the parties with respect to the 
        subject matter hereof, and supersedes all previous written or oral agreements between the parties with respect to such 
        subject matter. If any inconsistency exists between the terms of this Agreement and any additional terms and conditions 
        posted on the Service, such terms shall be interpreted as to eliminate any inconsistency, if possible, and otherwise, 
        the additional terms and conditions shall control. If any provision of this Agreement is held invalid, illegal or 
        unenforceable in any respect, (i) such provision shall be interpreted in such a manner as to preserve, to the maximum 
        extent possible, the intent of the parties, (ii) the validity, legality and enforceability of the remaining provisions 
        shall not in any way be affected or impaired thereby, and (iii) such decision shall not affect the validity, legality 
        or enforceability of such provision under other circumstances.
      </ion-item>
    
    <h4>Contact Us</h4>
    <p>If you have any questions about this Privacy Policy, please contact us at info@diseaseadviser.org. </p>
    
    
    
    
    <p class="go-to-register">
      <a (click)="goRegisterPage()">Return to Registration Page</a>
    </p>
  </ion-content>